%p#notice= notice

#page-wrapper.container
  .row
    .col-lg-12
      %h1
        = @team.name
        %small Team Overview
  .row
    .col-sm-3
      .user-profile__avatar.shadow-effect.text-center
        = image_tag @team.avatar_url, alt: @team.name, class: "img-responsive center-block"
    .col-sm-9
      .row
        .col-sm-12
          %h3.user-profile__title
            Team description:
          %p.user-profile__desc
            - if @team.description.empty?
              This team doesn't have description yet.
            - else
              = @team.description
      %hr
        .col-sm-12
          %ul.user-profile__info
            %li
              %i.fa.fa-calendar-o
              Member for #{distance_of_time_in_words(@team.created_at, Time.now)}
            %li
              %i.fa.fa-clock-o
              Last updated #{distance_of_time_in_words(@team.updated_at, Time.now)} ago
            %li
              %i.fa.fa-slack
              = link_to @team.slack_url
  %hr
    .row
      .col-lg-12
        = render "team_statistics", team: @team

  %hr
    %h2 Members:
    .row
      = render @team.users
