%p#notice= notice

#page-wrapper.container
  .row
    .col-lg-12
      %h1
        = @team.name
        %small Team Overview
  .row
    .col-sm-3
      .user-profile__avatar.shadow-effect.text-center
        = image_tag @team.avatar_url, alt: @team.name, class: "img-responsive center-block"
    .col-sm-9
      .row
        .col-sm-6
          %h3.user-profile__title= @team.name
          %p.user-profile__desc
            = @team.description
          .user-profile__url
            = link_to @team.slack_url
        .col-sm-6
          / Profile info
          %ul.user-profile__info
            %li
              %i.fa.fa-calendar-o
              Member for #{distance_of_time_in_words(@team.created_at, Time.now)}
            %li
              %i.fa.fa-clock-o
              Last seen 2 hours ago
            %li
              %i.fa.fa-eye
              50 profile views
      %hr
    .row
      .col-lg-12
        = render "team"

    %h2 Members:
    .row
      = render @team.users
