= form_for @user, url: user_path(@user.slack_nick) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .form-group
    .field.form-control
      = f.label :description
      = f.text_field :description
    .field.form-control
      = f.label :position
      = f.text_field :position
    .actions
      = f.submit 'Save', class: "btn btn-success"
