.col-md-4
  .card.user-card
    .card-header
      %h5
        - if user.team_admin_id.nil?
          Member
        - else
          Administrator
    .card-block
      .user-image
        %img.img-radius{ alt: user.first_name, src: user.avatar_url }
      %h6.f-w-600.m-t-25.m-b-10= user.first_name
      %p.text-muted= "#{user.position} at #{user.team.name}"
      %p.text-muted.m-t-15 Activity Level: 87%
      %ul.list-unstyled.activity-leval
        %li.active
        %li.active
        %li.active
        %li
        %li
      .bg-c-blue.counter-block.m-t-10.p-20
        .row
          .col-4
            %p
              %i.fa.fa-lock.fa-2x.user-statistics
              Security breaks:
            %p= user.bloopers.count
          .col-4
            %p
              %i.fa.fa-rocket.fa-2x.user-statistics
              Doughnuts awaiting delivery:
            %p= user.awaiting_doughnuts
          .col-4
            %p
              = image_tag "eaten_doughnut.png", width: "40px", height: "40px"
              Eaten doughnuts:
            %p= user.eaten_doughnuts
      - if user.description.present?
        %hr/
        %b Description:
        %p.m-t-15.text-muted= user.description