%h3
  User Dashboard /
  - if user_signed_in? && current_user == @user
    %small= link_to 'Edit', edit_user_path(@user.slack_nick)
.row
  = render "user_info", user: @user
  = render "user_statistics", user: @user
%hr
.row
  %h3 Recent security issues:
  = render "bloopers/blooper_column_names"
  = render @user.bloopers.limit(5)