.navigation.collapse.navbar-collapse
  %nav.navbar.navbar-default{ role: "navigation" }
    .container
      .navbar_header
        %button.navbar-toggle{ data_toggle: "collapse", data_target: "#navigation-example-2" }
          %span.sr-only Toggle navigation
        = link_to "Ponczki", root_path, class: "navbar-brand"

      .collapse.navbar-collapse#navigation_links
        %ul.nav.navbar-nav
          %li= link_to "Teams", teams_path
          %li= link_to "Workers", users_path
          %li= link_to "Bloopers", bloopers_path
          %li= link_to "About Ponczki", "#"

        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to "Profile", user_path(current_user)
            %li= link_to "Sign-out", destroy_user_session_path, method: :delete
          - else
            %li
              = link_to user_slack_omniauth_authorize_path do
                %img{ alt: "Sign in with Slack", height: "40", width: "172", src: "https://platform.slack-edge.com/img/sign_in_with_slack.png", srcset: "https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" }
