!!!
%html{lang: "en"}
  = render 'header'
  %body{class: controller_name + ' ' + action_name}
    .off-canvas-content{'data-off-canvas-content': ''}
      = render 'navbar'
      = yield :banner
      - container_classes = content_for(:full_width).present? ? 'container' : 'container content'
      %div{class: container_classes}
        .row.relative
          = render 'messages'
          = yield
      = yield :full_width
      = render 'footer'
